:root{
    --color-section: #193825;
    --color-letra: white;
    --color-fondo-html:#3f312d;
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-size: 2rem;
}
body{  
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo-html);
    color: var(--color-letra);
 }
section{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.principal{
    margin: 0;
    padding: 0;
}
#contenedor_titulo{
    position: relative;
}
#img_titulo{
    width: 100%;
    display: block;
}
#titulo{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: var(--color-letra);
}
#menu_informativo{
    display: grid;
    grid-template-areas: "recuadro1 recuadro2 recuadro2";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
#menu_informativo:first-child{
    grid-area: recuadro1;
}
#menu_informativo:nth-child(2){
    grid-area: recuadro2;
}
#menu_informativo:last-child{
    grid-area: recuadro3;
}
.borde_1{
    margin: 1rem;
    padding: 0.7rem;
    border: solid 1px var(--color-letra);
}
.contenido {
    padding-left: 10%;
    padding-right: 10%;
    background-color: var(--color-section) ;}


.izq{
    display: grid;
    grid-template-areas: "texto imagen";
    grid-template-columns: 1fr 25%fr;
    align-items: center;
    gap: 1rem;
}
.der{
    display: grid;
    grid-template-areas: "imagen texto";
    grid-template-columns: 25% 1fr;
    align-items: center;
    gap: 1rem;
}
.texto_contenido{
    grid-area: texto;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    
}

.imagen{
    grid-area: imagen;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
} 
 div.imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

#contenedor_enlace{
    text-align: center;
}
#contenedor_enlace a{
    text-decoration: none;
    color: var(--color-letra);
    margin:1rem ;
    padding: 0.5rem;
    background-color: var(--color-fondo-html);
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#flecha_volver{
    
}

