html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#contenedor_titulo{
    position: relative;
}
#img_titulo{
    width: 100%;
    display: block;
}
#titulo{
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    color: antiquewhite;
}
#menu_informativo{
    display: grid;
    grid-template-areas: "recuadro1 recuadro2 recuadro2";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
#menu_informativo:first-child{
    grid-area: recuadro1;
}
#menu_informativo:nth-child(2){
    grid-area: recuadro2;
}
#menu_informativo:last-child{
    grid-area: recuadro3;
}
.borde_1{
    margin: 1rem;
    padding: 1.5rem;
    border: solid 1px black; /* cambriar por variable */
}
.contenido_izq{
    display: grid;
    grid-template-areas: "texto imagen";
    grid-template-columns: 2fr 1fr;
}
.contenido_der{
    display: grid;
    grid-template-areas: "imagen texto";
    grid-template-columns: 1fr 2fr;
}
section.contenido .texto_contenido{
    grid-area: texto;
    text-align: center;
}

section.contenido .imagen{
    grid-area: imagen;
} 